label {
    color: gray;
}

.column {
    float: left;
    width: 250px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 5px;
}

fieldset {
    width: 500px;
}

textarea {
    width: 435px;
    height: 80px;
}

select {
    width: 435px;
}

input[type=text] {
    width: 435px;
}

